spring:

  config:
    activate:
      on-profile: dev

  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    url: jdbc:postgresql://maglev.proxy.rlwy.net:5432/railway
    password: xpAaKlmaPltkFGPSmKlvrARVuYfCUtEV

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration/

  jpa:
    format-sql: 'true'
    hibernate:
      ddl-auto: update
    show-sql: 'true'
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  server:
    port: ${PORT:8080}
